<form action="/name_of_player" method="post">
  <label for="playername"> 
  Please input your Player name
  </label>
  <input type="text" name="pname" >
  <input type="submit" value="Use this name > " >
</form>